/* LoginPage.css */

/* LoginPage.css */

.login-container {
  display: flex;
  height: 100vh;
}
.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
.logo-text {
  position: absolute;
  top: 10px;
  left: 75px;
  color: #f1f1f1;
}
.logo img {
  width: 50px;
  height: auto;
}

.left-panel {
  flex: 0 0 30%;
  background-color: #58d2a0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.right-panel {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.left-panel h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.left-panel button {
  background-color: white;
  color: #4caf50;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.left-panel button:hover {
  background-color: #f1f1f1;
}

.right-panel {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}
.left-panel p {
  font-size: 17px;
  margin-left: 57px;
}

.right-panel h2 {
  margin-bottom: 40px;
}
h4 {
  color: #585656;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.right-panel .avatar {
  width: 100px;
  height: 100px;
  background-color: #4caf50;
  border-radius: 50%;
  margin-bottom: 20px;
}

.right-panel input {
  width: 80%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
}

.right-panel button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.right-panel button:hover {
  background-color: #45a049;
}

.social-icons {
  display: flex;
  margin-left: 10px;
}

.social-icon {
  font-size: 1.5em;
  margin-right: 10px;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: -17px;
}

.icon {
  position: absolute;
  left: 10px;
  top: 37%;
  color: #111010;
  transform: translateY(-50%);
}

.input-container {
  position: relative;
  margin-bottom: 5px;
}

.input-container input {
  background-color: rgb(228, 236, 233);
  padding-left: 40px;
  border: 1px white;
  width: 100%;
  box-sizing: border-box;
}
